<!DOCTYPE html>
<html>
<head>

<style type="text/css">
h1 {
  font-size: 34px;
}
h1.title {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
.table th:not([align]) {
  text-align: center;
}

.narrow-background {
    display: table;
    padding: 0.1em;
}

.AA:hover {
	      background-color: #709be0;
        border-radius: 100px;
        }

.BB:hover {
	background-color: #e070d5;
	border-radius: 100px;
}

.CC:hover {
	background-color: #4eed54;
	border-radius: 100px;
}

.DD:hover {
	background-color: #e0b755;
	border-radius: 100px;
}

.EE:hover {
	background-color: #b3eb26;
	border-radius: 100px;
}


.FF:hover {
	background-color: #7fd2e3;
	border-radius: 100px;
}


.GG:hover {
	background-color: #48cf92;
	border-radius: 100px;
}


.list {
  display: row;
  height: justify;
  flex-wrap: wrap;
  align-content: justify;
  align-items: flex-start;
  }


.list > div{
  background-color: #f3f4f5;
  align-content: center;
  width: 800px;
  line-height: justify;
  margin: 2px;
  text-align: center;
  line-height: 18px;
  font-size: justify;
  border-radius: 8px;
  border: 1.5px solid black
}

.pict{
  width:150%;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #585339;
  position: fixed;
  top: 0;
  width: 100%;
}



li a {
  display: block;
  color: #4de4cb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover:not(.active) {
  background-color: #E8E6DB;
  color: black;
  font-weight: 1000;
}

.active {
  background-color: #585339;
  }


</style>
