{{ define "main" }}
<section id="main">
  <header>
    body{
   background-image: url("images/mathbanner.png");
   background-repeat: repeat-x;
}
  </header>

  <div>
       
           {{ .Content }}
        
  </div>
</section>
<aside id="meta">
    <div>
    <section>
<p><b>

Created on:</b></p>
      <h6 id="date"> {{ .Date.Format "Mon, Jan 2, 2006" }} </h6>
      
    </section>
    
    

    </div>

{{- $jsFile := .Title | anchorize -}}
{{- $pathJS := (printf "%s%s%s" "js/posts/" $jsFile ".js" ) -}}

{{- if (fileExists (printf "%s%s" "static/" $pathJS)) -}}
  <script type="text/javascript" src="{{ $pathJS | absURL }}"></script>
{{- end -}}
</aside>
{{ end }}