<!DOCTYPE html>

<head>


  
<body>
  
<style>


body {
 background-color: #fcfcfa;
 color:black; 
}
  

body {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h1 {
  color: black;
}

p{
  color: black;
}



#RS:hover{
transform: rotate(-8deg);
}

#PY:hover{
transform: rotate(9deg);
}

#CS:hover{
transform: rotate(-9deg);
}

#JS:hover{
transform: rotate(9deg);
}

#J:hover{
 transform: rotate(-6deg); 
  
}



</style>

   


<div class="button_icon">
  
<a href="#" id="back_to_top">
  
<i class="fas fa-chevron-up fa-2x"></i>


</a>

</div>



<br>

Made with the wyrfraym theme <a href="https://github.com/NicJC/wyrfraym" target="_blank"><i class="fas fa-code-branch"></i></a> ,

<img id ="PY",img src="/themes/wyrfraym/layouts/partials/footer_files/python.svg" alt="" width="2%"/> , 

<img id ="RS",img src="/themes/wyrfraym/layouts/partials/footer_files/r-project.svg" alt="" width="2%"/> , 

<img id ="CS",img src="/themes/wyrfraym/layouts/partials/footer_files/css3.svg" alt="" width="2%"/> , 

<img id ="JS",img src="/themes/wyrfraym/layouts/partials/footer_files/js.svg" alt="" width="2%"/> and

<img id ="J",img src="/themes/wyrfraym/layouts/partials/footer_files/Papirus-Team-Papirus-Apps-Julia.svg" alt="" width="3%"/>

</center>