<!DOCTYPE html>

<head>
div {
  width: 200px;
  height: 50px;
  background-color: #FCFAF8;

}

@keyframes dt {
  0%   {background-color:#FCFAF8; left:0px; top:0px;}
  30%  {background-color:#FCFAF8; left:950px; top:0px;}
  100% {background-color:#FCFAF8; left:0px; top:0px;}
}

a:link {
  color: #4de4cb;

}

  
  <body>
  
<style>


body {
  background-color: #FCFAF8;}
  

body {
  color: black;
}

h2 {
  color: black;
}

h1 {
  color: black;
}

p{
  color: #649B92;
}

p:hover{
   color: #9B9264;
}
</style>
</head>
<body>
   


<span class="button_icon">
  
<a href="#" id="back_to_top">
  
  <i class="fas fa-chevron-up fa-2x"></i>


</a>
</span>
<center>
<p>
Made with the wyrfraym theme<a href="https://github.com/NicJC/wyrfraym" target="_blank"><i class="fas fa-code-branch"></i></a>

</p>
</center>


</body>

</head>

<div>
  
  <h3>

   <a href="https://github.com/NicJC/Datasets">Check out my datasets!</a>

  </h3>

</div>

</html>


